
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Restaurante
        link(rel="stylesheet", href="/css/styles.css")
        block styles
    body 
        include navbar
        block message
            if(message && messageType)
                p(class=`message ${messageType}`)= message
        block content

