
nav 
    ul 
        li
            a(href="/") MiRestaurante 
        li
            a(href="/dish") Platos 
        li
            a(href="/menu") Menuses 
        li 
            a(href="/drink") Bebidas
        li 
            a(href="/ingredient") Ingredientes
        li 
            a(href="/user") Usuarios
        li 
            a(href="/order") Pedidos
        li 
            a(href="/login") Iniciar Sesión
        li 
            a(href="/logout") Cerrar Sesión
        
