extends ../layout

block content 
    h1 Platos disponibles
    if user && user.role==="admin"
        a(href="/dish/new") Nuevo plato 
    section(class="dish-list")
        each dish in dishes
                include card
                a(href=`/dish/${dish.dish_id}`) 
                    button Ver