extends ../layout

block content 
    include card
    h3 Ingredientes
    ul
        each ingredient in dish.ingredients 
            li
                p= ingredient.name
    a(href=`/dish/${dish.dish_id}/update`)
        button Editar 