extends layout

block content
  h1 Nuevo Ingrediente

  form(action="/ingredient" method="POST")
    .form-group
      label(for="name") Nombre
      input#name.form-control(type="text" name="name" required)

    .actions
      button.btn.btn-primary(type="submit") Crear
      a.btn.btn-secondary(href="/ingredient") Cancelar